<?php
/**
 * @var Laminas\View\Renderer\PhpRenderer $this
 */
?>
Der User <strong><?= $this->userName ?></strong> möchte die Stammdaten des Kunden <strong><?= $this->customerName ?></strong> ändern.

Zu den <strong><a href="http://<?= $this->appUrl ?>/customer/customer-edit/<?= $this->customerUuid ?>">Kundendaten</a></strong>.
